/* ------ Global styles ------ */

body {
    padding: 0;
    margin: 0;
}

h5 {
    margin: 20 0 20 0;
}

button {
    background-color: rgb(242, 151, 118);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

button:link {
    text-decoration: none;
}

button:hover {
    color: gold;
}

h4 {
    font-size: 14px;
    margin: 0
}

input:active {
    background-color: honeydew;
}

textarea:active {
    background-color: honeydew;
}

/* ------ Navigation Bar persists across pages ------ */

#navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

/* ------ Home page styles ------ */

.home-wrapper {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-content: center;
    align-items: center;
    margin: 0 0
}

.image-wrapper {
    margin: 50 0 0 100;
    display: flex;
    justify-content: center;
}

.image-wrapper h3 {
    margin: 50px;
    height: 100px;
    text-align: justify;
}

#profilePic {
    float: left;
    margin: 50px 15px 30px 0px;
}

.its-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.its-me a {
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 24px;
}

/* ------ About Me page styles ------ */

#locomotive {
    float: right;
    width: 600px;
    height: 300px;
    margin: 50px 50px 50px 50px;
}

/* ------ Hobbies page styles ------ */

#blackCat {
    width: 600px;
    height: 300px;
    margin: 50px 50px 50px 50px;
    justify-content: center;
    align-items: center;
}

#hobbies-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hobbies-wrapper h3 {
    text-align: center;
    font-size: 28px;
}

/* ------ Projects page styles ------ */

.projects-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#projectList {
    margin-top: 20px
}

#projects a {
    text-decoration: none;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 30px;
    border-bottom: 2px solid black;
}

#projectList li a {
    margin: 5 0 5 0;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 28px;
    border: none;
}

#projectList li h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
}

/* Project screenshots thus far */

#guessNum {
    width: 75px;
    height: 75px;
}

#zorking {
    width: 75px;
    height: 75px;
}

/* ------Work History page styles ------ */

#workspace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#resume-wrapper {
    display: flex;
}

#jonathan-pdf {
    height: 600px;
    width: 500px;
    border: 1px solid black;
}

#workspace h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 28px;
}

/* ------ Footer section ------ */

.footer-wrapper {
    background-color: rgb(254, 222, 119);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
}

#questComment {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px 0px;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 11vh;
    width: 100vw
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11vh;
    width: 35vw
}

#textarea {
    font-family: Arial, Helvetica, sans-serif;
    resize: none;
}

/* ------ Social media section ------ */

#socialMedia {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#socialMedia a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

#copyright {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 0
}

/* Social media buttons */

#burly, #mail, #phone, #instagram, #effbee, #bird {
    width: 1.3rem;
}